body {
    background-color: #1cd761;
  padding: 3rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: 1rem;
}

.images img{
    width: 20%;
    height: auto;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10rem;
    row-gap: 1rem;
    
}

footer {
    display: flex;
    justify-content: start;
    background-color: #b7facf;
    padding: 1rem;

}