body {
    background-color: #1cd761;
  padding-left: 5%;
  padding-right: 5%;
  
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: 1rem;
}

.images img{
    width: 20%;
    height: auto;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10rem;
    row-gap: 1rem;
    
}

footer {
    display: flex;
    justify-content: start;
    background-color: #b7facf;
    padding: 1rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}


html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
padding-bottom: 4rem;
}

.buttons_releases {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}
